<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p> 
    Assignments:
    <ul>
      <li>HW 1A: Binary, simple algorithms, and truth tables</li>
      <li>HW 1B: Simple program to interact with user and user's name; 
      performing operations on Python lists</li>
      <li>HW 2A: Iterations, time complexity, and pseudocode</li>
      <li>HW 2B: Gravity simulator and Machine learning algorithm for 
      breast cancer dataset (Part 1)</li>
      <li>HW 3A: Sets and recursion</li>
      <li>HW 3B: Vertical percolation and Machine learning algorithm for 
      breast cancer dataset (Part 2)</li>
      <li>HW 4: Object Oriented Programming to model a class
      consisting of a teacher, students, and assignments</li>
      <li>HW 5: Machine learning algorithm for breast cancer dataset (Part 3)
      with KNN and pandas-based statistics </li>
      <li>Midterm: PPM Image manipulation (remove unwanted objects, 
      horizontal flip, black and white)</li>
      <li>Final: basic Flask server and website containing info about myself</li>
    </ul>
    <br><br>
    My favorite assigment was definitely the midterm. I really liked <br>
    what we did with machine learning, recursion, and simulations, <br>
    but I guess I have always been a visual person, and creating a <br>
    PPM image editor from the ground up felt like a very cool project. <br>
    Having experience with Photoshop and similar programs, it was <br>
    amazing to be able to do some of the same Photoshop-y things <br>
    with some lines of Python code instead.
    </p> 
    </body>
</html>

