<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p> 
    Classes:
    <ul>
      <li>ENGI E1006: Intro to Computing (Python)</li>
      <li>APMA E2000: Multivariable Calculus</li>
      <li>CHEM UN1500: General Chemisry Lab</li>
      <li>PHYS UN1402: Intro to Electricity, Magnetism, and Optics</li>
      <li>ENGL CC1010: University Writing</li>
    </ul>
    <br><br>
    Though I enjoyed all of the classes I took this semester, <br>
    my favorite class was Multi. I have always loved math, and <br>
    getting to know some of the more advanced topics in calculus, <br>
    such as vector functions, partial derivatives, multiple integrals, <br>
    and a bunch of vector calculus theorems has been an eye-opening <br>
    experience. Moreover, this was an applied math class, so there was <br>
    quite an emphasis in the real-world applications of everything we <br>
    were learning. Ultimately, it has made me see the 3D world in which <br>
    we live from a completey different, mathematical perspective.
    </p>
    </body>
</html>

