<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Welcome</b> to my website!
    <br>My name is <b>David Nieto</b> and I am a <b>freshman</b>
    at Columbia, <br> planning to major in <b>Mechanical Engineering.</b>
    <br><br>
    Do you like <u>puzzles</u>? Click on the image below to play one of my face!</p>


<!-- www.epuzzle.info begin -->
<TABLE cellpadding='0' cellspacing='0'>
<SCRIPT language='JavaScript1.2' src='http://epuzzle.info/fupuzzle.php?p=280338&s=100&r=1&t=1&h=0&r=1&o=1&b=0&st=1'>
</script><TR><TD CLASS='puzfoot'>
<a href='http://www.epuzzle.info' target='_new' class='puzfoot'>Puzzles</a>, (c) 
<a href='http://www.luksoft.org' class='puzfoot'>
Luksoft</a></TD></TR></TABLE>
<!-- www.epuzzle.info end -->

    <br><p>Links:<ul>
    <li><a href="{{ url_for('assignments') }}">Assignments</a><br></li>
    <li><a href="{{ url_for('classes') }}">Classes</a></li>
    <li><a href="http://www.epuzzle.info/">Favorite website</a>. Hope you like puzzles! They're a 
    great way to spend yur time if you're bored :)</li>
    </body>
</html>